<ion-header>
  <menu-header headerText="Setup Budget Category"></menu-header>
</ion-header>



<ion-content padding>
  <div *ngIf="!haveCategories" style="color: lightgray"><b >No category budget. Please add at least one category.</b></div>
  <ion-list *ngIf="haveCategories">
    <button ion-item *ngFor="let item of items" (click)="editClick($event, item)">
      <div class="item-note" item-left>
        <ion-icon *ngIf="item.isFavourite" ios="ios-star" md="ios-star" style="font-size: 30px; color: Red; margin-right: 10px;"></ion-icon>
        <ion-icon *ngIf="!item.isFavourite" ios="ios-star-outline" md="ios-star-outline" style="font-size: 30px; color: lightgray; margin-right: 10px;"></ion-icon>
      </div>
      <div class="item-note" item-left>{{item.categoryName}}</div>
      <div class="item-note" item-right>
        <currency-formatter [numberToFormat]='item.budget'></currency-formatter>
       
      </div>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons right>
       <button ion-button icon-right (click)="newItemClick()">
        New
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>