<ion-header>
  <menu-header headerText="Expenses"></menu-header>
</ion-header>
 
<ion-content padding>
  <ion-item icon-left>
    <ion-badge>{{formData.year}}</ion-badge>
    <ion-badge>{{formData.month}}</ion-badge>
   </ion-item>
 
  <ion-item icon-left  style="color: gray;">
    <ion-label style="font-size: 12px;">Transfer Expense</ion-label>
    <ion-checkbox color="secondary" style="margin-right: 4px;" [(ngModel)]="isTransferExpense" (click)="isTransferClick(isTransferExpense)"></ion-checkbox>
  </ion-item>
  


  <ion-card>
      <ion-card-header>
        {{getCategoryPlaceholder()}}
      </ion-card-header>
      <ion-card-content >
        <ion-item icon-left style="width: 100%; padding-left: 0px; border-bottom: 0px;">
          <ion-select name="category" style="text-align: left; padding-left: 0px; min-width: 100%" placeholder="Select" [(ngModel)]='formData.categoryGuidId' required>
              <ion-option *ngFor="let category of categories" [value]="category.guidId">{{category.categoryName}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item icon-left style="border-bottom: 0px; text-align: left; padding-left: 0px;">
          <track-budget [categoryGuidId]='formData.categoryGuidId'></track-budget>
        </ion-item>

      </ion-card-content>
   </ion-card>

 
  

  <ion-card *ngIf="isTransferExpense">
      <ion-card-header>
        Transfer to
      </ion-card-header>
      <ion-card-content >
        <ion-item icon-left style="width: 100%; padding-left: 0px; border-bottom: 0px;">
          <ion-select name="category" style="text-align: left; padding-left: 0px; min-width: 100%" placeholder="Select" [(ngModel)]='transferToGuidId' required>
              <ion-option *ngFor="let category of categories" [value]="category.guidId">{{category.categoryName}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item icon-left style="border-bottom: 0px; text-align: left; padding-left: 0px;">
          <track-budget [categoryGuidId]='transferToGuidId'></track-budget>
        </ion-item>

      </ion-card-content>
   </ion-card>




  <!--<ion-item icon-left>
    <ion-label floating>
      <b>Expense Value</b>
    </ion-label>
    <ion-input type="number" maxlength="50"  [(ngModel)]='formData.expenseValue'></ion-input>
  </ion-item>-->

<ion-card >
  <ion-card-header>
    Expense Value
  </ion-card-header>
  <ion-card-content>
   
    <ion-item style="width: 100%; border-style: solid; border-width: 1px; border-radius: 10px; border-color: lightgray " >
      <ion-input type="number" maxlength="50" [(ngModel)]='formData.expenseValue'></ion-input>
    </ion-item>


    <ion-item  icon-left style="color: gray;  border-width: 0px; padding:0px;">
      <ion-label style="font-size: 12px;">Negative Number</ion-label>
      <ion-checkbox [disabled]="!canExpenseBeNegative()" color="danger" style="margin-right: 4px;" [(ngModel)]="isNegativeExpense" (click)="isNegativeExpenseClicked(isNegativeExpense)"></ion-checkbox>
    </ion-item>

  </ion-card-content>
</ion-card>


  
  
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons right>
      <button ion-button icon-right [disabled]='disableSaveButton()' (click)="saveClick()">
        Save
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
