<ion-header>
  <menu-header headerText="Set Budget Date"></menu-header>
</ion-header>
 
<ion-content padding>

  <ion-card>
      <ion-card-header>
        Budget Year/Month
      </ion-card-header>
      <ion-card-content >

        <ion-item icon-left style="width: 100%; padding-left: 0px; border-bottom: 0px;">
          <ion-select name="category" style="text-align: left; padding-left: 0px;" placeholder="Select year" [(ngModel)]='selectedYear' required>
              <ion-option *ngFor="let year of years" [value]="year">{{year}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item icon-left style="width: 100%; padding-left: 0px; border-bottom: 0px;">
          <ion-select name="category" style="text-align: left; padding-left: 0px;" placeholder="Select month" [(ngModel)]='selectedMonth' required>
              <ion-option *ngFor="let month of monthNames" [value]="month">{{month}}</ion-option>
          </ion-select>
        </ion-item>

      <ion-item style="width: 100%; border-width: 0px; padding: 0px;">
        <i>Income</i>
      </ion-item>
      <ion-item style="width: 100%; border-style: solid; border-width: 1px; border-radius: 10px; border-color: lightgray ">
        <ion-input type="number"  [(ngModel)]='income'></ion-input>
      </ion-item>

      
       
      </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons right>
      <button ion-button icon-right (click)="saveClick()">
        Save
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>